.color-back{
    background: #2B2B2B;
}
.color-back2{
    background: #3B3B3B
}
.color-caption{
    background: #858584;
}
.color-text{
    color: #FFFFFF;
}
.color-call{
    background: #64C247;
}
.color-icon{
    color: #7f7f7f
}
.color-grad{
    background: linear-gradient(0deg, #000000, #000000),
linear-gradient(128.15deg, #59FF7E 49.75%, #377DF7 136.56%);
}
.color-grad2{
    background: linear-gradient(100.92deg, #59FF60 13.57%, #FF6250 97.65%);

}
.text1{
    font-family: Space Mono;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    ;
}
.text2{
    font-family: Work Sans;
    font-size: 67px;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    ;

}
.brd{
    border-radius: 20px;
}

.drop-nav{
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.avatar-login{
    color: white;
    font-size: xx-large;
}
.color-text-nav{
    color: #FFFFFF;
}

.color-text-nav:hover{
    color: #FFFFFF;
}

.color-text-nav:focus {
    color: #858584; /* Establece el color al pasar el ratón sobre el enlace */
  }