.first-achievement {
    width: 150px;
    height: 150px;
}

.second-achievement {
    width: 150px;
    height: 150px;
}

.third-achievement {
    width: 150px;
    height: 150px;
}

.fourth-achievement {
    width: 150px;
    height: 150px;
}

.fifth-achievement {
    width: 150px;
    height: 150px;
}

.sixth-achievement {
    width: 150px;
    height: 150px;
}

.seventh-achievement {
    width: 150px;
    height: 150px;
}

.eighth-achievement {
    width: 150px;
    height: 150px;
}

.ninth-achievement {
    width: 150px;
    height: 150px;
}

.tenth-achievement {
    width: 150px;
    height: 150px;
}