.achievement-container .d-flex {
    flex-grow: 1;
}

.tier-container {
    margin-bottom: 30px;
}


h4 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.achievement-title {
    text-align: center;
    margin-right: 10px;
}

.achievement-title h5 {
    margin-bottom: 35px;
}

.achievement-title img {
    display: block;
    margin: 0 70px auto;
}

.achievement {
    width: 150px;
    height: 150px;
}

