.achievement-container .d-flex {
    flex-grow: 1;
}

.tier-container {
    margin-bottom: 30px;
}


h4 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.achievement-title {
    text-align: center;
    margin-right: 10px;
    position: relative;
}


.achievement-title h5 {
    margin-bottom: 35px;
}

.achievement-title img {
    display: block;
    margin: 0 70px auto;
}

.achievement-text {
    display: none;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.achievement-title:hover .achievement-text {
    display: block;
    opacity: 1;
}

.achievement {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease-in-out;
}

.achievement-title:hover .achievement {
    transform: scale(1.1);
}

