.ranking-container {
    background-color: #3b3b3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: white;
    width: 120vh;
    height: 60px;
    border-radius: 15px;
    padding: 0 20px;
}

.ranking-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ranking-numbers {
    display: flex;
    gap: 50px;
    margin-right: 70px;
}

.ranking-circle {
    width: 30px; 
    height: 30px; 
    background-color: #64C247; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}


.ranking-circle p {
    margin: 0;
}